# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# PyTest
.pytest_cache/

# Benchmark artifacts
samples/.benchmark_work/
results.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
